<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<div id="selection">
    <h2><f:translate key="LLL:EXT:ns_openai/Resources/Private/Language/locallang_be.xlf:NsOpenai.suggestionsHeader"/></h2>
    <p><f:translate key="LLL:EXT:ns_openai/Resources/Private/Language/locallang_be.xlf:NsOpenai.suggestionsSubheader"/></p>
    <f:for each="{suggestions}" as="suggestion" iteration="it">
        <div class="ns-openai__{data.fieldName}">
            <label for="suggestion{data.fieldName}-{it.index}" class="keywords-rdo__wrapper">
                <input type="radio" id="suggestion{data.fieldName}-{it.index}" name="generated{data.fieldName}Suggestions" value="{suggestion}" class="mx-1">
                <span class="keywords-rdomark"></span>
                <span class="keywords-rdokmark-label">{suggestion}</span>
            </label>
        </div>
    </f:for>
</div>

</html>
